<!DOCTYPE html>
<html>
<head>
    <title>My website!</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello!!!!!!!!!!!</h1>
    <p>hello random stuff here: frufehuyguytfghuy
        tfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjhhello random stuff here: frufehuyguytfghuytfrhjkuyftrfdbjkiuhygjh</p>
    <h2>How are you?</h2>
             <ul>
                   <li>bullet point</li>
                   <li>А это вторая</li>
             </ul>
     <img src="pic.jpg" alt="Image 1">
</body>
</html>